In [1]:
import pandas as pd

SONG_MAX = 707989

df = pd.read_json('./data/train.json')
test_offset = len(df) - int(len(df) / 10)
train_df, test_df = df[:test_offset], df[test_offset:]
train_df.head(5)

,tags,id,plylst_title,songs,like_cnt,updt_date
0,[락],61281,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...",71,2013-12-19 18:36:19.000
1,"[추억, 회상]",10532,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...",1,2014-12-02 16:19:42.000
2,"[까페, 잔잔한]",76951,"편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...",17,2017-08-28 07:09:34.000
3,"[연말, 눈오는날, 캐럴, 분위기, 따듯한, 크리스마스캐럴, 겨울노래, 크리스마스,...",147456,크리스마스 분위기에 흠뻑 취하고 싶을때,"[394031, 195524, 540149, 287984, 440773, 10033...",33,2019-12-05 15:15:18.000
4,[댄스],27616,추억의 노래 ㅋ,"[159327, 553610, 5130, 645103, 294435, 100657,...",9,2011-10-25 13:54:56.000

In [2]:
from scipy.sparse import lil_matrix
from tqdm import tqdm
from fbpca import pca

from itertools import combinations

m = lil_matrix((SONG_MAX, SONG_MAX))
for ss in tqdm(train_df['songs']):
    for a, b in combinations(ss, 2):
        m[a, b] += 1
        m[b, a] += 1

100%|██████████| 103564/103564 [47:00<00:00, 36.71it/s]

In [2]:
import pickle

m = pickle.load(open('song_matrix.pickle', 'rb'))

In [9]:
meanm = m.multiply(1 / (m.sum(axis=0).reshape(-1) + 1)).tocsr()

In [5]:
meanm.tocsr()[:,55].sum()

0.9950000000000007

In [45]:
val = test_df.reset_index()['songs'][3343]
train = test_df.reset_index()['songs'][3343][:10]

In [47]:
import numpy as np

pred = sum([meanm[:,song] for song in train])
pred = np.asarray(pred.todense()).reshape(-1)
pred = np.argpartition(pred, -100)[-100:]

In [48]:
len((set(val) - set(train)) & set(pred)) / len((set(val) - set(train)))

0.41935483870967744

In [46]:
val

[408064,
 26254,
 446812,
 370250,
 553171,
 600074,
 133484,
 353211,
 81072,
 27469,
 601037,
 75971,
 621152,
 640657,
 351342,
 451454,
 689661,
 433145,
 519391,
 334539,
 418905,
 637570,
 648635,
 233166,
 619548,
 368015,
 568906,
 135462,
 13519,
 565154,
 260612,
 251656,
 698536,
 381056,
 15910,
 530256,
 417744,
 119603,
 197064,
 703096,
 703051,
 460823,
 669693,
 197441,
 541943,
 468331,
 397699,
 478108,
 663109,
 368874,
 578827,
 311995,
 239135,
 112282,
 364967,
 295457,
 204533,
 348392,
 327449,
 648344,
 205034,
 284731,
 29918,
 261659,
 670460,
 692123,
 371218,
 20114,
 5844,
 209782,
 489153,
 473256,
 451860,
 70549,
 429157,
 683227,
 193451,
 652192,
 443130,
 106653,
 582712,
 628232,
 541682,
 206812,
 42610,
 339124,
 527215,
 300087,
 22845,
 542441,
 13281,
 477905,
 232606,
 336475,
 663428,
 301124,
 38669,
 507137,
 230410,
 285871,
 335101,
 117616,
 442348]